.question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  
  .question-container img {
    width: 66%;
    height: 66%;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 6px 5px 13px -1px rgba(0, 0, 0, 0.75);
  }
  
  .question-border {
    margin-top: 10px;
    width: 90%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    /* background-color: rgba(14, 148, 231, 0); */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.77); */
    outline: none;
    
  }
  
  .question-border p {
    font-size: 1rem;
    text-align: center;
    font-weight: 700;
  }
  
  .answer-container {
    padding-top: 18px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    width: 50%;
  }

  .answer-container{
    font-weight: 600;
  }
  
  .answer-container button {
    width: 100%;
    height: 32px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(59, 98, 143, 0.8);
  
    font-size: 16px;
    border: none;
    box-shadow: grey;
  }
  
  .answer-container button{
    font-size: 1rem;
  }

  .answer-container button:hover {
    background-color: rgba(255, 166, 0, 0.8);
  }

  .counter-h1 {
    font-weight: 400;
  }
  
  .timer {
    font-weight: 900;
    padding: 5px 54px;
    border-radius: 12px;
    
  }

  .timer-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 24px;
  }

  